<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
    <title>layout</title>
    <meta charset="utf-8" />
    <!--
    <link rel="stylesheet" type="text/css" th:href="@{'webjars/bootstrap/4.3.1/css/bootstrap.min.css'}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/webjars/flag-icon-css/2.4.0/css/flag-icon.css">
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.10.1/css/all.css">
    <link rel="stylesheet" th:href="@{/css/clamber.css}" type="text/css">
    <script th:src="@{/js/clamber.js}"></script>
</head>
<body>

<header th:replace="fragments/header :: header"></header>


<main layout:fragment="content">
    <div><p>This is a custom content that you can provide</p></div>
</main>

<footer>
    <div th:replace="fragments/footer :: footer">...</div>
</footer>

</body>
</html>

