<!DOCTYPE html>
<html lang="fr" layout:decorate="~{layout.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
</head>
<body>
<main layout:fragment="content">
    <div class="d-flex align-items-center flex-column mt-5">
        <h1 class="h1">Créer votre compte</h1>
        <form class="w-50" method="post" th:action="@{/registration}" th:object="${utilisateurForm}">
            <div class="form-group">
                <label for="mail">E-mail :</label>
                <input id="mail" required th:class="'form-control form-control-lg ' + (${#fields.hasErrors('email')} ? 'is-invalid' : '')"
                       th:field="*{email}"
                       type="text">
                <div class="invalid-feedback" th:utext="${#fields.errors('email')}"></div>
            </div>
            <div class="form-group">
                <label for="pseudo">Pseudo :</label>
                <input id="pseudo" required th:class="'form-control form-control-lg ' + (${#fields.hasErrors('pseudo')} ? 'is-invalid' : '')"
                       th:field="*{pseudo}"
                       type="text">
                <div class="invalid-feedback" th:utext="${#fields.errors('pseudo')}"></div>
            </div>
            <div class="form-group">
                <label for="password">Password :</label>
                <input id="password" required th:class="'form-control form-control-lg ' + (${#fields.hasErrors('password')} ? 'is-invalid' : '')"
                       th:field="*{password}"
                       type="password">
                <div class="invalid-feedback" th:utext="${#fields.errors('password')}"></div>
            </div>
            <div class="form-group">
                <label for="passwordConfirm">Confirmer le password :</label>
                <input id="passwordConfirm" required th:class="'form-control form-control-lg ' + (${#fields.hasErrors('passwordConfirm')} ? 'is-invalid' : '')"
                       th:field="*{passwordConfirm}"
                       type="password">
                <div class="invalid-feedback" th:utext="${#fields.errors('passwordConfirm')}"></div>
            </div>
            <button class="btn-dark btn-lg btn-block" type="submit">Valider</button>
        </form>
    </div>
</main>
</body>
</html>

