<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Spots</title>
</head>
<body>

<main layout:fragment="content">
    <h1>Liste des spots</h1>

    <div class="container-fluid w-75">
        <div class="card-deck">
            <div th:each ="spot : ${spots}" class="card m-4 rounded" style="min-width:250px">
                <img class="card-img-top" src="img/calanques-envau-breche-castelvieil.jpg" th:alt="${spot.image}">
                <div class="card-body">
                    <a th:href="@{'spots/' + ${spot.spotId}}" class="stretched-link"><h4 class="card-title" th:utext="${spot.nom}">...</h4></a>
                    <p class="card-text">Secteur : <span th:utext="${spot.secteurs.size()}"></span></p>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>