<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}">
<head>
    <title>Home</title>
</head>
<body>

<main layout:fragment="content">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <div class="container">
        <h1>Bonjour</h1>
    </div>
    <div class="container">
        <a class="btn btn-dark btn-lg" role="button" th:href="@{/spots}">Consulter les spots</a>

        <!--
        <h3>Contribuez et partagez vos spots et vos topos </h3>
        <p>Se loguer   ou    s'incrire gratuitement</p>
        <p>Venez découvrir les spots proposés par les membres du sites</p>
        <p>Inscrivez Vous</p>
        <p>connectez vous et commentez vos impressions sur les spots proposés</p>
        <p>Inscrivez vous gratuitement pour partager vos informations ou vos TOPOs</p>
        -->
    </div>

</main>

</body>
</html>

